<div class="full-height">
  <div class="row justify-content-center no-gutters full-height">
    <div class="col-12 col-md-6 main">
      <router-outlet></router-outlet>
    </div>
    <div class="col-12 col-md-6 bg-welcome">
        <div class="vertical-center">
            <div class="row justify-content-center text-white">
              <div class="col-9">
                <div>
                  <h2>How it works?</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eligendi dignissimos id excepturi.</p>
      
                  <div class="pt-4">
                    <button class="bg-light btn-play shadow">
                      <i class="fas fa-play"></i>
                    </button>
                  </div>
      
                  <img src="../../../assets/images/welcome-hero.svg" alt=""  height="350">
      
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
