.card {
  border-radius: 10px !important;
}

.small-text {
  font-size: 15px;
}

.infected {
  background-color: #f2f3f7;
  padding: 3px 10px;
  border-radius: 10px;
}

.smaller-text {
  font-size: 9px;
}

.learn {
  min-height: 210px !important;
  max-height: auto;
  width: 100%;
  background-color: #058473;
}

.user-country {
  min-height: 210px !important;
  max-height: auto;
  width: 100%;
}

.new-count {
  font-size: 18px;
  font-weight: bold;
}

// .countries-card {
//   height: 400px;
//   width: 100%;
// }


.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: .75rem .75rem;
}

.form-label-group>input {
  height: auto;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(.75rem + .75rem * (2 / 3));
  padding-bottom: calc(.75rem / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(.75rem / 3);
  padding-bottom: calc(.75rem / 3);
  font-size: 12px;
  color: #777;
}

input {
  background-color: #f2f3f7;
  border: none;
}

// .table-responsive {
//   overflow-y: auto;
//   max-height: 250px;
// }

.tableFixHead {
  overflow-y: auto;
  max-height: 300px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 10px;
}

th {
  background: #f2f3f7;
  margin-top: -5px;
}
